/*  *** TO DO ***
* Change color variables to link to data stored in style table.
*/

:root {
  --dark_bg: $data->dark_bg_color;
  --med_bg: $data->med_bg_color;
  --light_bg: $data->light_bg_color;
  --med_border: $data->med_border_color;
}


#AboutBody {
    background-color: var(--dark_bg);
}

#headerImg {
    display: block;
    margin: auto;
    padding-bottom: 60px;
    height: 350px;
    width:100%;

}

.border {
    display: block;
    margin: auto;
    width: 160px;
    height: 4px;
    background-color: var(--med_border);
    margin-bottom: 40px;
    border-radius: 2px;
  }

  .paragraph1 {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    color: var(--light_bg);
    font-size: 23px;
    text-align: justify;
  }

  .paragraph1 h1 {
    font-size: 50px;
    color: var(--med_border);
  }

  .paragraph2 {
    padding-left: 250px;
    padding-right: 400px;
    padding-bottom: 100px;
    color: var(--light_bg);
    font-size: 23px;
    text-align: justify;
  }

  .paragraph2 h1 {
    font-size: 50px;
    color: var(--med_border);
  }

  .paragraph2 h2 {
    font-size: 40px;
    color: var(--med_bg);
    font-weight: bolder;
  }

  .paragraph2 a {
    text-decoration: none;
    color: var(--med_bg);
  }

  .paragraph2 a:hover {
    color: var(--med_border);
    font-size: 25px;
  }