/*  *** TO DO ***
* Create color variables that link to data stored in style table.
* Change colors to variables instead of hardcoded colors.
*/

:root {
  --dark_bg: $data->dark_bg_color;
  --med_bg: #3DB5E6;
  --light_bg: #c8c8c8;
}


#AboutBody {
    background-color: var(--med_bg);
}

#headerImg {
    display: block;
    margin: auto;
    padding-bottom: 60px;
    height: 350px;
    width:100%;

}

.border {
    display: block;
    margin: auto;
    width: 160px;
    height: 4px;
    background-color: #3DB5E6;
    margin-bottom: 40px;
    border-radius: 2px;
  }

  .paragraph1 {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    color: #c8c8c8;
    font-size: 23px;
    text-align: justify;
  }

  .paragraph1 h1 {
    font-size: 50px;
    color: #3DB5E6;
  }

  .paragraph2 {
    padding-left: 250px;
    padding-right: 400px;
    padding-bottom: 100px;
    color: #c8c8c8;
    font-size: 23px;
    text-align: justify;
  }

  .paragraph2 h1 {
    font-size: 50px;
    color: #3DB5E6;
  }

  .paragraph2 h2 {
    font-size: 40px;
    color: #004B98;
    font-weight: bolder;
  }

  .paragraph2 a {
    text-decoration: none;
    color:#004B98;
  }

  .paragraph2 a:hover {
    color:#3DB5E6;
    font-size: 25px;
  }