/* *** TO DO ***
* Change color variables to link to data stored in style table.
*/

:root {
    --dark_bg: #0A2240;
    --med_bg: #004B98;
    --light_bg: #c8c8c8;
    --med_border: #3DB5E6;
}

.dark-background {
    background: var(--dark_bg);
    color: var(--light_bg);
    width: 50%;
    height: auto;
    padding: 30px;
    position: absolute;
    left: 57.5%;
    top: 75%;
    transform: translate(-50%, -50%);
    font-size: 23px;    
}
.dark-background a{
    text-decoration: none;
    color: var(--med_border);
}
h4 {
    font-size: 27px;
    text-decoration: overline;
}
.gradient-background {
    background: var(--med_bg);
    background: radial-gradient(circle, var(--med_bg) 0%, var(--dark_bg) 100%);
    color: var(--white);
    width: 100%;
    height: 1000px;
}
#ContactBody {
    overflow-x: hidden;
    overflow-y: hidden;
}
.home{
    padding-left: 25px;
    padding-top: 25px;
    position: fixed;
    color: var(--light_bg);
}