/* *** TO DO ***
* Change color variables to link to data stored in style table.
*/

:root {
  --dark_bg: $data->dark_bg_color;
  --med_bg: $data->med_bg_color;
  --light_bg: $data->light_bg_color;
}

body{
    margin:0%;
    margin-left: 15%;
    padding:0%;
    overflow-x: hidden;
}

.inventoryTabs {
    height: 30px;
    width:-webkit-fill-available;
    background-color: var(--med_bg);
  }
  
  a.tab {
    display:inline-block;
    text-decoration: none;
    width: 19.4%;
    height: 26px;
    background-color: var(--med_bg);
    color: var(--light_bg);
    font-weight: bold;
    padding: 0px;
    text-align: center;
    border-style: solid; 
    border-width: 2px;
    border-radius: 3px;
    border-color: var(--dark_bg);
  }