/* *** TO DO ***
* Change color variables to link to data stored in style table.
*/

:root {
    --dark_bg: $data->dark_bg_color;
    --light_bg: $data->light_bg_color;
}

#HeaderBody{
    margin:0%;
    margin-left: 15%;
    padding:0%;
    overflow-x: hidden;
    background-color: var(--dark_bg);
}
.header {
    padding: 0%;
    background-color: var(--light_bg);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 21.5%;
  }

#PantryLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom:auto;
}
#cart{
    margin-top: auto;
    margin-bottom:auto;
    position:fixed;
    top: 5%;
    right: 4%;
}