/* *** TO DO ***
* Change color variables to link to data stored in style table.
*/
  .home{
    padding-left: 25px;
    padding-top: 25px;
    position: fixed;
    color: var(--light_bg);
}
  
  .team-section {
    overflow: hidden;
    text-align: center;
    background-color: var(--dark_bg);
    padding: 60px;
    padding-bottom: 100px;
  }
  
  .team-section h1 {
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
  }
  
  .border {
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background-color: var(--med_border);
    margin-bottom: 40px;
  }
  
  .ps {
    margin-bottom: 40px;
  }
  
  .pfp a {
    display: inline-block;
    margin: 0 30px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    
  }
  
  .pfp a img {
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
  } 
  
   .pfp a:hover > img{
    filter:none;
  }
  
  .section {
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
  }
 
  .section a{
    text-decoration: none;
    color: var(--med_border);
}
  .section:target {
    height: auto;
  }
  
  .name {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 22px;
  }
  
  .hidden {
    display: none;
  }
  